.aboutQuote {
  color: white;
  background-color: var(--theme-blue);
  text-align: center;
  padding: 5em;
  margin: 0;
}
#shaunBelieve {
  color: white;
  font-size: 4em;
  margin: 0 0 10px 0;
}
#shaunStory {
  font-size: 1.25em;
  margin: 10px 0 0 0;
}
.aboutContent {
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: var(--theme-blue);
  text-align: center;
}
h3 {
  white-space: pre-line;
}
h4 {
  white-space: pre-line;
  font-size: 1em;
  font-weight: lighter;
  text-align: left;
  padding: 1.25em;
}
.imShaun {
  padding-bottom: 0;
  margin: 0;
}
.imShaun-text {
  white-space: pre-wrap;
  padding-top: 0.5em;
  margin: 0;
}
.meetShaun {
  margin: 3em 2em 10em 2em;
  max-width: 30vw;
}
.part-two {
  margin-block: auto;
}
.iLoveAutomobiles {
  margin: auto 2em auto 2em;
  max-width: 30vw;
}
.makeItShine {
  margin: 2em;
  max-width: 30vw;
}
.meetShaun-Image {
  display: block;
}
.card {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  border: none;
  border-radius: 2px;
  box-shadow: 4px 4px 7px 0.75px black;
}
