.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-template-areas: 'hours logo social';
  width: 100vw;
  color: white;
  background-color: black;

  text-align: center;
  font-family: var(--theme-font-varela);
  font-size: 1.1em;

  margin-top: 1em;
  padding-top: 1.25em;
}
.hours {
  grid-area: hours;
  text-decoration: none;
  color: white;
}
.centerCol {
  grid-area: logo;
}
#socialIcons {
  grid-area: social;
}
.bi.bi-facebook:hover {
  color: blue;
}
.bi.bi-instagram:hover {
  color: #c13584;
}
.bi.bi-youtube:hover {
  color: rgb(255 0 0);
}
.bi.bi-facebook,
.bi.bi-instagram,
.bi.bi-youtube {
  color: white;
  font-size: 3.5em;
  padding: 15px;
}
.honoring-container {
  max-width: 300px;
  margin: 10px auto 0 auto;
}
