.shop {
  display: flex;
  flex-direction: column;
  grid-template-areas:
    '.     .      .     .'
    '.   title  title  cart'
    '.    salescopy   select  .';

  font-family: var(--theme-font-varela);
  font-size: 2em;
  text-align: center;
  background-color: var(--theme-offwhite);

  border: 0.25em solid var(--theme-orange);
}

.quoteBlock {
  display: flex;
  justify-content: space-evenly;
}
.submitRequest {
  color: white;
  background-color: var(--theme-blue);
  cursor: pointer;
  font-size: 0.55em;
  font-weight: bolder;
  padding: 5px;
  border: none;
  border-radius: 2px;
  width: fit-content;
  margin: 1em auto 2em auto;
}
.form-container {
  background-color: var(--theme-orange);
  margin-bottom: 2em;
  border-radius: 3px;
}
.quoteForm {
  padding: 1em 3em 0.5em 3em;
  align-self: flex-end;
  justify-self: flex-end;
  display: flex;
  flex-direction: column;
  max-width: 35vw;
}
.quoteForm > label {
  font-family: var(--theme-font-varela);
  font-weight: bold;
  text-align: left;
  font-size: 0.4em;
}
.quoteForm > input {
  font-family: var(--theme-font-varela);
  margin: 0 0 0.75em 0;
  border: none;
  border-radius: 3px;
}
.quoteForm > select {
  font-family: var(--theme-font-varela);
  margin: 0 0 0.75em 0;
  border: none;
  border-radius: 3px;
}
.quoteForm > textarea {
  font-family: var(--theme-font-varela);
  margin: 0 0 0.75em 0;
  border: none;
  border-radius: 3px;
}

.cart {
  font-size: 1.2em;
  height: 2em;
  grid-area: cart;
  color: var(--theme-orange);
  background: transparent;
  border: none;
}
.title {
  font-family: var(--theme-font-varela);
  text-transform: uppercase;
  font-size: 1em;
  margin-block: 1em;
  justify-self: center;
}
.shopImage {
  width: 85%;
  align-self: center;
  justify-self: center;
  margin-bottom: 1.2em;
  border: 1.5px solid black;
  border-radius: 0.1em;
}
.salesCopy {
  white-space: pre-wrap;
  font-size: 0.5em;
  max-width: 30vw;
}
.disclaimer {
  font-size: 0.5em;
}
.servicePicker {
  display: flex;
  flex-direction: column;
  font-size: 0.5em;
  width: 1fr;
}
.promptSelectService {
  font-size: 1.1em;
  margin: 0;
}
.dateTimePicker {
  grid-area: date;
  display: flex;
  flex-direction: column;
  font-size: 0.65em;
  padding: 0;
  margin: auto auto auto auto;
}
.addService {
  grid-area: button;
}
.addToCart {
  font-size: 1em;
  height: 1.5em;
}
